#agents { 
  display: flex;
  overflow: scroll;
  margin-bottom: 16px;
}

#build {
  background: gray;
  min-height: 80vh;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 60vh;

  padding: 1em;
  box-sizing: border-box;

  display: flex;
  gap: 2em;
  justify-content: space-between;
}

.bg-block {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 16px;
  min-width: 300px;
}

.prop {
  display: flex;
  justify-content: space-between;
  color: white;
}

.propName {
  font-weight: 800;
}

.propFinal {
  margin-left: 10px;
}

.disk {
  max-width: 64px;
  max-height: 64px;
  flex: none;
}

.flex {
  display: flex;
}

.procs {
  color: red;

}

.disks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr); 
  gap: 10px;
}